*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  .nave{
    width: 80px;
    height: 80px;
    background-image: url('../images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom:50px;
    left: calc(50vw - 40px);
  }
  body{
    background-image: url('../images/wall.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .bala{
    width: 5px;
    height: 50px;
    background-color:rgb(234,243,150);
    border-radius: 15px;
    box-shadow: 0px 0px 40px 10px #0ff;
    position: absolute;
  }
  .enemigo{
    width: 80px;
    height: 50px;
    background-image: url('../images/enemigo1.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
  }
  #lives{
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 2em;
    color:rgb(245,222,19);
  }
  i{
    color:red;
  }
  #times{
    position:absolute;
    top:10px;
    right: 10px;
    font-size: 2em;
    color:lightcoral;
  }  

  .pasar{
    border: 1px solid rgb(65, 55, 55);
    position: absolute;
    top: 70px;
    left: 10px;
    text-decoration: none;
    color:rgb(243, 36, 21);
    border-radius: 5px;
    font-size: 20px; 
    background-color: rgb(117, 117, 218);
    color: white;
   
  }