body { margin:10px; background-image: url("../images/galaxia.jpeg"); 
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
  text-align: center;
}
.barra {
  color: #dc3903;
  font-size: 13px;
  height: 15px;
  position: absolute;
  top: 30px;
  
} 
.boton{
  color: red;
  font-size: 10px;
  background-color: #000000;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid blue;
}
.boton:hover{
    background-color: white;
    color: #000000;
}

#my_canvas{ 
  width: 80vw;
  height: 600px;
  background:#000000; 
  border:#000 1px solid; 
}