*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url("../img/body-espacio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 500px;
    background-image: url(./img/galaxia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 40px 10px rgb(114, 155, 172);
    border-radius: 10px;
      
}

#nave{
    height: 400PX;
    position: relative;
}

#fondo{
    width: 140px;
    margin-left: 270px;
       
}

.nombre-juego{
    color: rgb(192, 176, 176);
    font-size: 70px;
    text-align: center;
  
}

.comenzar{
    width: 220px;
    height: 40px;
    position: fixed;
    bottom:50px;
    left: 250px;
    background-color: rgb(78, 27, 27);
    color: white;
    font-size: 30px;
    box-shadow: 0px 0px 40px 10px rgb(247, 174, 247);
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid white ;
    
}

.comenzar:hover{
    background-color: rgb(167, 177, 231);
}
.inicio{
    position: absolute;
    width: 90px;
   

}
.iniciar{
    position: absolute;
    right:20px;
    bottom: 0px;
}
.iniciar1{
    position: absolute;
    left:20px;
    bottom: 0px;
}.iniciar2{
    position: absolute;
    left: 90px;
    bottom: 60px;
}.iniciar3{
    position: absolute;
    right:90px;
    bottom: 60px;
}

.texto{
    color:rgb(192, 176, 176);
    font-size: 30px;
    text-align: center;
}

.nivel{
    color: rgb(204, 193, 193);
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

.numero{
    color: rgb(140, 207, 236);
    position: relative;
    top: 80px;
    right: 60px;
    font-size: 70px;
}