*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("./img/body-espacio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    height: 500px;
    background-image: url(./img/galaxia.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 40px 10px rgb(114, 155, 172);
    border-radius: 10px;
      
}
.instruciones{
    background-color:rgb(23, 12, 54);
    width: 20%;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px rgb(114, 155, 172);
    position: absolute;
}

.texto-i{
    padding: 10px;
    color: white;
    
}

#instructivo{
    color: rgb(248, 239, 239);
    font-size: 25px;
    margin-top: 100px;
    margin-left: 10px;
}
.instruciones-1{
    background-color:rgb(23, 12, 54);
    width: 20%;
    margin-top: 230px;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 10px rgb(114, 155, 172);
    position: absolute;
}

#nave{
  
    margin-top: 125px;
    height: 400PX;
  
    
}

#fondo{
    width: 140px;
    margin-left: 270px;
       
}

.nombre-juego{
    color: rgb(192, 176, 176);
    font-size: 70px;
    text-align: center;
}

.comenzar{
    width: 220px;
    height: 40px;
    position: fixed;
    bottom:50px;
    left: 235px;
    background-color: rgb(78, 27, 27);
    color: white;
    font-size: 30px;
    box-shadow: 0px 0px 40px 10px rgb(247, 174, 247);
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid white ;
    
}

.comenzar:hover{
    background-color: rgb(167, 177, 231);
}